streamlit>=1.28.0
pandas>=2.0.3
numpy>=1.26.0
matplotlib==3.7.1
seaborn==0.12.2
scikit-learn>=1.3.0
xgboost==1.7.5
statsmodels
plotly==5.15.0
tensorflow>=2.13.0; python_version < '3.12'
tensorflow-cpu>=2.13.0; python_version >= '3.12'